
<section class="columns cover-letter">
	<h1 class="h2 inner content remove-bottom-margin">Hi, Enova</h1>
	<h4>This is a site I made that'll hopefully show I'll be a great fit for the software engineer position you have open.</h4>
	<ul class="project">
		<li class="inner">
			<p class="project-title">let's talk about me</p>
			<p class="cover-column">	
				<span class="blue">I am a software developer.</span> I want to make apps that help make life a bit easier. Apps that will clarify a confusing topic or assist in making an important decision. Software can be the tool that helps you lead a better, more well informed life.
			</p>

			<p class="cover-column">
				<span class="secondary-col">I am not just a developer.</span> I'm a book collector and literature enthusiast. While in high school I thought it would be neat to have a small library and have been on the hunt ever since. Thanks to Amazon, I now close to 300 which doesn't seem like a lot until moving day. They always leave me second guessing what I've done and why I continue to collect more.
			</p>

			<p class="cover-column">
				<span class="purple">I graduated from Dev Bootcamp.</span> I've been involved in technology for a few years, but never found a route that I was truly passionate about. After some thought, I decided to leave my job in St. Louis and take a chance to find something that I can look forward to everyday. I enjoy software developement because of the constant learning curve. There's always something else to learn, another framework or language to master. There's always a better way to do things, you're never stagnant as long as you're willing to learn.
			</p>

			<p class="cover-column">
				<span class="orange">I enjoy helping others learn.</span> Even after graduating, I’m still involved in the community. I volunteer as a mentor at GDI, and next month I start as a mentor at the StartUp Institute. I believe in helping others and being involved in these communities means a great deal to me. Although at times I feel woefully inadequate to help anyone with code, I always find that I learn a great deal by simply fielding questions or helping with syntax. At my previous job, I led a weekly meeting where I would field questions pertaining to the software the team was using. This often involved live coding, pair programming, and learning how to talk with others about the developement process. 
    
			</p>
		</li>
		<li class="inner">
			<p class="project-title">let's talk about Enova</p>
			<p class="cover-column">
				<span class="orange">You are teachers.</span> Not only do you provide a space for the community to come and learn from experts, you also provide an extensive training program for all new employees. This demonstrates that you care about each employee you bring on, bringing them up to speed with the kinds of tasks they will be facing in their everyday jobs. This also demonstrates that you care about inclusion. By offering a training program, you instill that the new team members are all part of your team, and you want them to be the best they can be. As a volunteer at GDI I greatly appreciate this approach. Helping members of the community advance their understanding of programming languages, is something that I am proud of. Whether it be a simple HTML page with some CSS or a tricky javascript problem, I always learn from watching others approach problems, or answering questions. Nothing beats an environment where learning is a valued commodity.
			</p>
			<p class="cover-column">
				<span class="purple">You care about the long haul. </span> At Enova, you want people who are not only interested in learning more about software development, but are looking for a place to have a career. By offering endless career paths and a core value of “act as an owner” you motivate people to do their best because it will not go unnoticed. This creates an environment where people want to succeed, want to make sure their team is functioning at the highest level, from the new guy to the expert. I want to work for a company that wants their employees to be the very best, and makes sure they sick around by creating such an exciting atmosphere. 

			</p>
			<p class="cover-column">
				<span class="secondary-col">You are communicators.</span> The products you create are intuitive, and easy to use. You care about getting everything from the font, and layout, to the backend processing right. You create products that people enjoy using. There's a cohesive look and feel to what you produce. A company that cares about these details is one that promotes communication between departments. Having everyone on the same page is clearly a goal you are succeeding at. In the apps that I create, I always strive to make them as easy to use as possible, from user stories to image location, I want to make applications that are clean, stylish, simple, but also sophisticated. I like to challenge myself to learn something new, push myself to new boundaries. I also like to come back to my code and refactor, knowing that it’s not just about solving a problem, it’s about setting yourself up for future success.   
			</p>
			<p class="cover-column">
				<span class="blue">I'm your guy.</span> Shoot me an <a href="mailto:michael.ginalick@gmail.com">email</a> or give me a call (314-546-1424).
			</p>
		</li>
	</ul>
</section>